<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome to Home page</h1>
        <p>If you are here then you are completely logged in</p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            possimus iure ad aut iusto nesciunt nostrum, ratione, accusantium
            distinctio libero hic ea quisquam, dicta voluptatum atque natus quo
            nam obcaecati accusamus delectus enim illo quasi illum. Quia
            incidunt ut numquam molestiae eligendi corporis impedit. Fugiat in
            deleniti quos. Ducimus est, blanditiis rerum delectus hic
            repellendus sit id officiis beatae. Inventore, fugit tempora,
            obcaecati velit porro aliquid quod expedita consectetur praesentium
            officiis magni esse quia eum maxime mollitia! Quis ullam alias culpa
            magnam, ipsam officiis. Nobis, cupiditate, vel numquam aspernatur
            eaque quam sint sequi minima minus dignissimos eius, laudantium non
            iusto.
        </p>
    </body>
</html>
