<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="form-container">
            <h2>Register</h2>
            <form action="/register">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter your password ..."
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        ,
                        id="password"
                        placeholder="Enter your password ..."
                        required
                    />
                </div>
            </form>
            <button type="submit" class="btn-submit">SignUp</button>
        </div>
    </body>
</html>
